shlex
ujson
cairosvg
coffeehouse
colour
deezloader
emoji-country-flag
glitch-this
humanize
justwatch
lottie
git+https://github.com/Phyco-Ninja/spotify-downloader
tracemoepy==3.8
validators
geopy
prettytable
newspaper3k
pydub
